;; Your file has been converted to the new flat format.
;; Conversion does not preserve comments or indentation.
;; File is backed up at /Users/mrundberget/Library/Application Support/LightTable/User/user.keymap.bak]
[
 [:app "cmd-shift-b" :add-browser-tab]
 [:app "cmd-alt-right" :tabset.next]
 [:app "cmd-shift-c" :show-add-connection]
 [:app "cmd-shift-e" :clear-console :clear-inline-results]
 [:app "ctrl-shift-t" :tabset.new]
 [:app "cmd-shift-i" :instarepl]
 [:app "cmd-ctrl-right" :tabs.move-next-tabset]
 [:app "ctrl-shift-right" :tabs.next]
 [:app "ctrl-shift-left" :tabs.prev]
 [:app "cmd-shift-t" :toggle-console]
 [:app "cmd-ctrl-left" :tabs.move-prev-tabset]
 [:app "cmd-shift-w" :workspace.show]
 [:app "ctrl-shift-f" :claire-show]
 [:app "cmd-shift-w-p" :workspace.show-recents]
 [:app "cmd-alt-left" :tabset.prev]
 [:app "cmd-ctrl-n" :tabset.new :tabs.move-next-tabset]

 [:editor "alt-d" :editor.page-down]
 [:editor "ctrl-s ctrl-s" :snippet.select]
 [:editor "cmd-v" :editor.paste]
 [:editor "ctrl-e" :snippet.by_token]
 [:editor "shift-pmeta-space" :editor.sublime.selectScope]
 [:editor "ctrl-g" :editor.sublime.selectNextOccurrence]
 [:editor "ctrl-shift-up" :editor.sublime.selectLinesUpward]
 [:editor "ctrl-j" :editor.jump-to-definition-at-cursor]
 [:editor "alt-shift-w" :editor.watch.unwatch]
 [:editor "ctrl-shift-k" :editor.kill-line]
 [:editor "ctrl-left" :editor.line-start-smart]
 [:editor "ctrl-m" :editor.sublime.goToBracket]
 [:editor "alt-shift-[" (:editor.open-pair "{")]
 [:editor "cmd-shift-," :toggle-comment-selection]
 [:editor "cmd-shift-l" :editor.select-all :smart-indent-selection :editor.selection.clear]
 [:editor "alt-shift-]" (:editor.close-pair "}")]
 [:editor "ctrl-shift-down" :editor.sublime.selectLinesDownward]
 [:editor "cmd-c" :editor.copy]
 [:editor "cmd-d" :editor.sublime.duplicateLine]
 [:editor "alt-u" :editor.page-up]
 [:editor "alt-w" :editor.watch.watch-selection]
 [:editor "ctrl-z-i" :window.zoom-in]
 [:editor "cmd+f" :find.show]
 [:editor "ctrl-pmeta-up" :editor.sublime.swapLineUp]
 [:editor "ctrl-shift-d" :editor.doc.toggle]
 [:editor "alt-[" (:editor.open-pair "[")]
 [:editor "cmd-l" :smart-indent-selection]
 [:editor "alt-]" (:editor.close-pair "]")]
 [:editor "ctrl-z-o" :window.zoom-out]
 [:editor "ctrl-pmeta-down" :editor.sublime.swapLineDown]
 [:editor "ctrl-shift-j" :editor.unjump]


 ;; Paredit
;;  [:editor "ctrl-alt-," :parembraceit.shrink.right]
;;  [:editor "ctrl-alt-l" :parembraceit.grow.left]
;;  [:editor "ctrl-alt-p" (:paredit.select.parent "(") :eval-editor-form :paredit.select.clear]
;;  [:editor "ctrl-alt-r" :paredit.shrink.right]
;;  [:editor "ctrl-alt-left" :paredit.move.down.backward]
;;  [:editor "ctrl-alt-right" :paredit.move.up.forward]
;;  [:editor "ctrl-alt-." :paredit.grow.right]
;;  [:editor "ctrl-alt-down" :paredit.move.down.forward]
;;  [:editor "ctrl-alt-up" :paredit.move.up.backward]
;;  [:editor "alt-s" (:paredit.select.parent "(") :smart-indent-selection :paredit.select.clear]
;;  [:editor "shift-alt-s" :paredit.select.parent]
;;  [:editor "ctrl-alt-u" :paredit.unwrap.parent]
;;  [:editor "ctrl-alt-b" :paredit.backspace]
;;  [:editor "ctrl-alt-d" :paredit.delete]

  ;;================== START PARED ======================

 ;; Clojure ParEd and friends !
 [:editor.clj.common "ctrl-alt-u" :parembrace.move-up]
 [:editor.clj.common "ctrl-alt-d" :parembrace.move-down]
 [:editor.clj.common "ctrl-alt-n" :parembrace.move-next]
 [:editor.clj.common "ctrl-alt-p" :parembrace.move-prev]
 [:editor.clj.common "ctrl-alt-r" :parembrace.move-right]
 [:editor.clj.common "ctrl-alt-l" :parembrace.move-left]
 [:editor.clj.common "ctrl-alt-f" :parembrace.move-up-pos-right]



 [:editor.clj.common "ctrl-cmd-alt-p" :parembrace.move-to-previous]
 [:editor.clj.common "ctrl-s ctrl-f" :parembrace.slurp-forward]
 [:editor.clj.common "ctrl-s ctrl-b" :parembrace.slurp-backward]
 [:editor.clj.common "ctrl-b ctrl-f" :parembrace.barf-forward]
 [:editor.clj.common "ctrl-b ctrl-b" :parembrace.barf-backward]

 [:editor.clj.common "alt-s" :parembrace.splice]
 [:editor.clj.common "ctrl-s ctrl-up" :parembrace.splice-killing-forward]
 [:editor.clj.common "ctrl-s ctrl-down" :parembrace.splice-killing-backward]
 [:editor.clj.common "alt-k" :parembrace.kill]
 [:editor.clj.common "alt-shift-s" :parembrace.split]
 [:editor.clj.common "alt-shift-j" :parembrace.join]

 [:editor.clj.common "cmd-9" :parembrace.wrap-around-list]
 [:editor.clj.common "cmd-8" :parembrace.wrap-around-vector]
 [:editor.clj.common "cmd-7" :parembrace.wrap-around-map]
 [:editor.clj.common "cmd-6" :parembrace.wrap-around-set]

 [:editor.clj.common "cmd-ctrl-9" :parembrace.wrap-fully-forward-slurp-list]
 [:editor.clj.common "cmd-ctrl-8" :parembrace.wrap-fully-forward-slurp-vector]
 [:editor.clj.common "cmd-ctrl-7" :parembrace.wrap-fully-forward-slurp-map]
 [:editor.clj.common "cmd-ctrl-6" :parembrace.wrap-fully-forward-slurp-set]


 [:editor.clj.common "shift-8" :parembrace.open-list]
 [:editor.clj.common "ctrl-2" :parembrace.open-doublequote]
 [:editor.clj.common "ctrl-shift-8" :parembrace.open-vector]
 [:editor.clj.common "ctrl-alt-8" :parembrace.open-map]
 [:editor.clj.common "ctrl-alt-shift-8" :parembrace.open-set]
 [:editor.clj.common "ctrl-alt-shift-f" :parembrace.open-fn]


 [:editor.clj.common "alt-shift-s" :parembrace.select]

 ;;================== END PARED ======================


 ;; ================== Clojure refactor client only =============
 [:editor.clj.common "ctrl-t ctrl-f" :lt.plugins.cljrefactor.threading/thread-first-fully]
 [:editor.clj.common "ctrl-t ctrl-l" :lt.plugins.cljrefactor.threading/thread-last-fully]

 [:editor.clj.common "ctrl-f ctrl-t" :lt.plugins.cljrefactor.threading/thread-fully]
 [:editor.clj.common "ctrl-f ctrl-u" :lt.plugins.cljrefactor.threading/unwind-fully]


 ;; snippet shortcuts clojure
 [:editor.clj "ctrl-f ctrl-n" (:snippet.by-key "fun")]


 [:editor.buster "ctrl-b ctrl-l" :toggle-live]

 [:editor.javascript "ctrl-t ctrl-t" (:snippet.by-key "tt")]
 [:editor.javascript "ctrl-b ctrl-d" :buster-dashboard-toggle]
 [:editor.javascript "ctrl-c ctrl-l" (:snippet.by-key "cl")]
 [:editor.javascript "ctrl-b ctrl-t ctrl-a" :lt.plugins.instabuster/test-all]
 [:editor.javascript "ctrl-t ctrl-c" (:snippet.by-key "tc")]
 [:editor.javascript "ctrl-b ctrl-a" :toggle-autotest]

 [:editor.keys.hinting.active "tab" :auto-complete]
 [:editor.keys.hinting.active "enter" :passthrough]



 ;; Doofy defaults for auto parens overrides
;;  [:editor.keys.normal "(" (:editor.open-pair "(")]
;;  [:editor.keys.normal "{" (:editor.open-pair "{")]
;;  [:editor.keys.normal "\"" (:editor.open-pair "\"")]
;;  [:editor.keys.normal ")" (:editor.close-pair ")")]
;;  [:editor.keys.normal "}" (:editor.close-pair "}")]
;;  [:editor.keys.normal "]" (:editor.close-pair "]")]
 ;;[:editor.keys.normal "-[" (:editor.open-pair "[")]

]
